/* pada bagian body tabel */
body {
    background-color: skyblue;
}

td {
    font-size: 18px;
    padding : 60px;
}
th {
    font-size: 30px;
}

h3{
    color: black;
    text-align : center;
    font-size : 60px;
    
}

